certifi
chardet
click
Flask
Flask-SQLAlchemy
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
oauthlib
Pillow
PySocks
python-dotenv
requests
requests-oauthlib
scikit-learn
scipy
spacy==2.3.5
six
sklearn
SQLAlchemy
threadpoolctl
tweepy
urllib3
Werkzeug
